<%- include('../partials/header') %>

<h1><%=title%></h1>

<p>Badminton is one of my favorite ways to reset. It is fast, competitive, and a lot more technical than people expect.</p>

<p><img src="/images/badminton.jpg" class="img-fluid rounded" alt="Badminton racket and shuttlecock"></p>
<p><small>Photo by Muktasim Azlan on Unsplash</small></p>

<p>I enjoy the mix of footwork, timing, strategy, and quick reactions. It is also a nice break from sitting at a computer and working through code.</p>

<%- include('../partials/footer') %>