<%- include('../partials/header') %>

<h1><%=title%></h1>

<p>One of my favorite ways to study or work on projects is from a good coffee shop. A comfortable space and a good cup of coffee can make a long study session much more enjoyable.</p>

<p><img src="/images/coffee.jpg" class="img-fluid rounded" alt="Coffee shop workspace"></p>
<p><small>Photo by Fahmi Fakhrudin on Unsplash</small></p>

<p>Some of my favorite spots around the Seattle area are places that offer a quiet atmosphere, reliable Wi-Fi, and enough space to focus for a few hours at a time.</p>

<%- include('../partials/footer') %>